body{
    height: 125vh;
    background-size: cover;
    font-family: sans-serif;
    margin-top: 80px;
    padding: 30px;
}

a img {
    height: 80px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
 }
body {
    height: 125vh;
    background-image: url('C:\Users\ciand\djangoprojects\SDEVCA1\static\images');
    background-size: cover;
    font-family: sans-serif;
}

main {
    color: white;
}
.card-body{
    display:block;
    background-color: blue;

}

a {
    background-color: red;
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  a:hover {
    background-color: #555;
    cursor: pointer;
  }
  
  a:active {
    background-color: black;

  }
  
.img{
    max-width: 10%;

}

.container {
    margin: 20px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: auto;
}

button {
    padding:9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}



p {
    background-color: blue;
    display: block;
    text-decoration: none;
}


h1 .display-2 {
    text-decoration: none;
}