{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block content %}
<br />
<div class="container-fluid text-sm-center p-5 bg-info text-white">
    <div class="row">
        <div class="col-sm-6">
            <h1 class="display-2">This is the main page of the site!</h1>
            <img class ="homecover" src="{% static 'images/homeC.jpg' %}">
            <p class="btn btn-primary btn-lg" href="{% url 'article_list' %}" role="button">Graphics cards?/Hardware</a></p>
            </p>
        </div>

        <div class="col-sm-6">
            <h1 class="display-2">This is the second side pannel of the main page this will hold link to secton 2</h1>
            <img class ="homecover2" src="{% static 'image/homeG.jpg' %}">
            <p class="btn btn-primary btn-lg" href="{% url 'article_list' %}" role="button">This can be software e.g why are there shortages and how is it affecting everyone</p>
        </div>
    </div>
    <br>
    {% endblock content %}